<nav class="navbar navbar-default">
	<ul id="navbar">
		<li><button onclick="showSidebar()"><i class="fa fa-bars"></i></button></li>
		<li><img src="/images/brofinder_logo.png" alt="logo" /></li>
		<li><button><i class="fa fa-cog"></i></button></li>
	</ul>
	<div id="sidebar" class="sidenav">
		<a href="javascript:void(0)" class="close-button" onclick="hideSidebar()">&times;</a>
		<a href="/">Home</a>
		<a href="javascript:void(0)" onclick="showForm(this)" formId="create-group-form">Create Group</a>
		<a href="javascript:void(0)" onclick="showForm(this)" formId="join-group-form">Join Group</a>
	</div>
</nav>